*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#07140d;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
overflow:hidden;
}

.site{
width:900px;
height:500px;
background:linear-gradient(135deg,#08180f,#102d1b);
border-radius:20px;
position:relative;
overflow:hidden;
box-shadow:0 0 40px rgba(0,0,0,.4);
}

.menu{
position:absolute;
left:0;
top:0;
width:90px;
height:100%;
background:#1c1c1c;
border-right:3px solid #3FA34D;
display:flex;
flex-direction:column;
justify-content:space-between;
align-items:center;
padding:20px 0;
}

.logo{
color:white;
font-size:22px;
cursor:pointer;
}

.menuLinks{
display:flex;
flex-direction:column;
gap:15px;
}

.menuLinks a{
text-decoration:none;
color:#bfbfbf;
font-size:11px;
transition:.3s;
}

.menuLinks a:hover{
color:#3FA34D;
}

.themeBtn{
font-size:20px;
color:white;
cursor:pointer;
}

.intro{
position:absolute;
left:120px;
top:25px;
width:170px;
font-size:10px;
line-height:15px;
color:#8bd492;
}

.titulo{
position:absolute;
top:25px;
left:320px;
width:280px;
font-size:30px;
font-weight:bold;
line-height:32px;
color:#6CE276;
}

.reserva{
position:absolute;
right:25px;
top:25px;
width:190px;
color:#b7d8bb;
}

.reserva h3{
color:#6CE276;
margin-bottom:10px;
font-size:16px;
}

.reserva p{
font-size:10px;
line-height:15px;
margin-bottom:10px;
}

.cards{
position:absolute;
left:120px;
top:130px;
display:flex;
flex-direction:column;
gap:18px;
}

.card{
width:450px;
height:75px;
position:relative;
cursor:pointer;
transition:.4s;
}

.card:hover{
transform:translateX(5px);
}

.frente,
.verso{
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
border-radius:15px;
overflow:hidden;
}

.frente{
background:#23462a;
padding:12px;
border:1px solid rgba(255,255,255,.05);
}

.frente h2{
font-size:12px;
margin-bottom:6px;
color:#D98B60;
}

.frente p{
font-size:9px;
line-height:13px;
color:#a7dfac;
}

.verso{
display:none;
}

.verso img{
width:100%;
height:100%;
object-fit:cover;
filter:brightness(.55);
}

.txtImg{
position:absolute;
left:12px;
bottom:10px;
display:flex;
flex-wrap:wrap;
gap:5px;
max-width:90%;
}

.txtImg span{
background:rgba(0,0,0,.5);
color:white;
font-size:8px;
padding:4px 7px;
border-radius:6px;
}

.bola{
position:absolute;
right:15px;
bottom:15px;
width:18px;
height:18px;
border-radius:50%;
background:#d8d8d8;
}

.detalhe{
position:absolute;
right:50px;
bottom:22px;
width:80px;
height:2px;
background:#3FA34D;
}

.linha{
position:absolute;
top:110px;
left:120px;
width:700px;
height:1px;
background:rgba(255,255,255,.08);
}